aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
asgiref==3.10.0
asyncio==4.0.0
attrs==25.3.0
audioop-lts==0.2.2
certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
discord.py==2.6.2
Django==5.2.7
django-ninja==1.5.3
djangorestframework==3.16.1
drf-spectacular==0.29.0
frozenlist==1.7.0
idna==3.10
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
multidict==6.6.4
ninja==1.13.0
packaging==25.0
pillow==11.3.0
propcache==0.3.2
psutil==7.2.1
pydantic==2.12.5
pydantic_core==2.41.5
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
sqlparse==0.5.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
yarl==1.20.1
